<!-- the "post " url endpoint -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POST</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body class=container>
    <% include partials/navigation %>
    <h1>You found the post page!</h1>
    <div class ="jumbotron">
      <div class="row">
        <div class="col-xs-10">
          <form action="/api/bears" method="post">
            <div class="form-group">
              <label for="">enter the name of the BEAR</label>
              <input type="text" class="form-control" name="name" placeholder="hello">
              <p class="help-block">Enter the name of the bear</p>
            </div>
            <div class="form-group">
              <label for="">enter the species of the BEAR</label>
              <input type="text" class="form-control" name="color" placeholder="hello">
              <p class="help-block">Enter the name of the bear</p>
            </div>
            <div class="form-group">
              <label for="">enter the color of the BEAR</label>
              <input type="text" class="form-control" name="species" placeholder="hello">
              <p class="help-block">Enter the name of the bear</p>
            </div>
            <button type="submit">submit</button>
          </form>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
